:root {
  --background: #2888b8;
  --pagedjs-width: 210mm;
  --color-paper: white;
  --screen-pages-spacing: 5mm;
}


@page :left {
  @top-left {
    content: counter(page);
  }
  @top-center {
    content: element(runningTitle);
    width: 150mm;
    font-style: normal;
  }
}

/* article header */
.document-header {
    width:100%;
    height:100%;
    background: url(https://raw.githubusercontent.com/SylvainLapoix/cgdd_objets_numeriques/main/cgdd_poc_datalab_256/logo/header_datalab.png);
}

p {
  widows: 3;
  orphans: 3;
  text-align: justify;
  font-size: 14px;
  line-height: 16px;
  margin: 7px 0;
  columns: 2;
}
