:root {
  --background: #2888b8;
  --pagedjs-width: 210mm;
  --color-paper: white;
  --screen-pages-spacing: 5mm;
}


@page :left {
  @top-left {
    content: counter(page);
  }
  @top-center {
    content: element(runningTitle);
    width: 150mm;
    font-style: normal;
  }
}

p {
  widows: 3;
  orphans: 3;
  text-align: justify;
  font-size: 14px;
  line-height: 16px;
  margin: 7px 0;
  columns: 2;
}
